[submodule "deps/gdstk"]
	path = deps/gdstk
	url = https://github.com/heitzmann/gdstk.git
[submodule "deps/ruler"]
	path = deps/ruler
	url = https://github.com/broccolimicro/ruler.git
[submodule "deps/sch"]
	path = deps/sch
	url = https://github.com/broccolimicro/sch.git
[submodule "deps/phy"]
	path = deps/phy
	url = https://github.com/broccolimicro/phy.git
[submodule "deps/interpret_phy"]
	path = deps/interpret_phy
	url = https://github.com/broccolimicro/interpret_phy.git
[submodule "deps/interpret_rect"]
	path = deps/interpret_rect
	url = https://github.com/broccolimicro/interpret_rect.git
[submodule "deps/interpret_sch"]
	path = deps/interpret_sch
	url = https://github.com/broccolimicro/interpret_sch.git
[submodule "deps/parse"]
	path = deps/parse
	url = https://github.com/broccolimicro/parse.git
[submodule "deps/parse_spice"]
	path = deps/parse_spice
	url = https://github.com/broccolimicro/parse_spice.git
[submodule "deps/common"]
	path = deps/common
	url = https://github.com/broccolimicro/common.git
[submodule "deps/parse_act"]
	path = deps/parse_act
	url = https://github.com/broccolimicro/parse_act.git
