[submodule "deps/pgen"]
	path = deps/pgen
	url = https://github.com/nbingham1/pgen.git
[submodule "deps/gdstk"]
	path = deps/gdstk
	url = https://github.com/heitzmann/gdstk.git
[submodule "deps/ruler"]
	path = deps/ruler
	url = https://github.com/broccolimicro/ruler.git
[submodule "deps/sch"]
	path = deps/sch
	url = https://github.com/broccolimicro/sch.git
